body {
  overflow: hidden;
  font-family: Poppins, sans-serif;
}

.flex-page-height {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

.container-narrow {
  max-width: 912px;
}

@media (max-width: 575.98px) {
  .container-narrow {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.row-white,
.row-cyan {
  padding-top: 75px;
  padding-bottom: 75px;
}

@media (max-width: 575.98px) {
  .row-white,
  .row-cyan {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.row-cyan {
  background-image: linear-gradient(-241deg, #caefed 0%, #edfaf9 50%, #e5f4f3 100%);
}

.row-light-purple {
  background-image: linear-gradient(-241deg, #ede9f5 0%, #f7f4fc 100%);
  padding-top: 60px;
  padding-bottom: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 700;
}

.heading-primary {
  color: #935bce;
}

.heading-secondary {
  color: #ebb2a1;
}

.heading-italic {
  font-style: italic;
  font-family: 'Balsamiq Sans', cursive;
}

p {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 300;
}

p a,
p a:hover,
p a:active {
  font-weight: 400;
  color: #935bce;
  text-decoration: underline;
}

p a:hover {
  text-decoration: none;
}

p b,
p strong {
  font-weight: 700;
}

hr {
  border-top-width: 5px;
  border-top-color: #935bce;
}

hr.short {
  width: 115px;
  margin: 35px 0 25px 0;
  border-color: #ebb2a1;
}

time {
  display: block;
  font-weight: 300;
  font-size: 16px;
  font-style: italic;
  line-height: 1.2;
  color: #807b8b;
  margin-bottom: 0.85rem;
}

.main p {
  font-size: 24px;
  font-weight: 400;
}

.main-text {
  max-height: 160px;
}

@media (max-width: 575.98px) {
  .main-logo {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
}

/* ARROW ICON */
.arrow-right {
  background-image: url("../img/arrow-icon.png");
  background-size: contain;
  width: 22px;
  height: 19px;
}

/* BUTTONS */
.btn {
  border-radius: 0;
  font-weight: 400;
  padding: 5px 15px;
  font-size: 12px;
}

.btn-lg {
  padding: 5px 15px;
}

.btn-outline-primary {
  color: black;
  border: 3px solid #935bce;
  background-color: #ebb2a1;
}

.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: black;
  border-color: #935bce;
  background-color: #935bce;
}

.btn-outline-primary:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  /*box-shadow: 0 0 0 0.2rem #935bce;*/
  box-shadow: none;
}

/* NEWS LISTING */
.news-preview h1 {
  font-weight: 600;
  font-size: 27px;
  line-height: 1.2;
  font-style: normal;
  margin-bottom: 0;
  text-transform: none;
}

.news-preview time {
  font-size: 12px;
}

.news-preview p {
  font-size: 16px;
}
@media (max-width: 575.98px) {
  .news-preview p {
    font-size: 20px;
  }
}

.news-preview .btn {
  padding: 12px;
}

.news-preview .arrow-right {
  width: 15px;
  height: 13px;
}

/* PROJECT PARTNER CARDS */
.partner-card {
  height: 100%;
  background-color: white;
  padding: 15px;
}

.partner-card img {
  max-width: 80%;
  max-height: 100px;
  margin-bottom: 15px;
}

.partner-card h6 {
  color: #935bce;
}
@media (max-width: 575.98px) {
  .partner-card h6 {
    font-size: 20px;
  }
}

.partner-card p {
  font-size: 12px;
}
@media (max-width: 575.98px) {
  .partner-card p {
    font-size: 16px;
  }
}

.partner-card span {
  padding-right: 20px;
}
@media (max-width: 575.98px) {
  .partner-card span {
    font-size: 16px;
  }
}

.partner-card .arrow-right {
  width: 14px;
  height: 13px;
}

/* FOOTER */
footer .row-cyan {
  padding-top: 0;
  padding-bottom: 0;
}

footer nav {
  padding-top: 35px;
}

footer nav a {
  color: #d8d1e9;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.28px;
}

footer a,
footer a:hover {
  color: #d8d1e9;
}

footer nav .separator {
  border-left: 1px solid #d8d1e9;
  margin: 0 0.85rem;
  height: 14px;
}

@media (max-width: 575.98px) {
  footer nav .separator {
    flex: 1;
    border-left: none;
  }
}

footer .white-card {
  height: 100%;
  margin: 0;
  padding: 30px 15px;
  background-color: white;
}

footer p {
  font-size: 12px;
}
@media (max-width: 575.98px) {
  footer p {
    font-size: 16px;
  }
}

footer form label {
  font-size: 12px;
}

footer .form-control {
  border: 1px solid #935bce;
  border-radius: 0;
}

footer form span {
  padding-right: 20px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Balsamiq Sans", cursive;
}

footer form .arrow-right {
  width: 14px;
  height: 13px;
}

footer .footer-logo {
  height: 75px;
  margin: 30px 0;
}

/* HEADER */
header.row-cyan {
  padding-top: 18px;
  padding-bottom: 18px;
}

header a.home-link {
  display: block;
}

header a.home-link,
header a.home-link:hover {
  text-decoration: none;
}

header.row-cyan h2 {
  font-size: 18px;
  margin: -0.25rem;
  padding: 0.25rem;
}

/* PARAGRAPH BLOCKS */
.row-block-heading {
  padding-bottom: 20px;
}
.row-block-paragraph {
  padding-top: 0;
}

.row-block-paragraph h1,
.row-block-paragraph h2,
.row-block-paragraph h3,
.row-block-paragraph h4 {
  font-weight: 700;
  text-transform: none;
  text-align: left;
  margin-top: 60px;
  margin-bottom: 30px;
  line-height: 1.2;
}

.row-block-paragraph h2 {
  margin-top: 3.5rem;
  font-size: 28px;
}

.row-block-paragraph h3 {
  font-size: 24px;
}

.row-block-paragraph h4 {
  font-size: 20px;
}

.row-block-paragraph p,
.row-block-paragraph ul,
.row-block-paragraph ol,
.row-block-paragraph blockquote {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 2rem;
}

@media (max-width: 575.98px) {
  .row-block-paragraph p,
  .row-block-paragraph ul,
  .row-block-paragraph ol,
  .row-block-paragraph blockquote {
    font-size: 16px;
    line-height: 1.5;
  }
}

.row-block-paragraph blockquote {
  padding-left: 1.5em;
  border-left: 3px solid #d8d1e9;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.row-block-paragraph ul {
  list-style-type: disc;
}

.row-block-paragraph ol {
  list-style-type: decimal;
}

.row-block-paragraph ul ul,
.row-block-paragraph ol ol,
.row-block-paragraph ul ol,
.row-block-paragraph ol ul {
  margin-bottom: 0;
}

.row-block-paragraph b,
.row-block-paragraph strong {
  font-weight: 700;
}

.row-block-paragraph i,
.row-block-paragraph em {
  font-style: italic;
}

.row-block-paragraph a,
.row-block-paragraph a:hover,
.row-block-paragraph a:active {
  font-weight: 600;
  color: #674090;
  text-decoration: underline;
}

.row-block-paragraph a:hover {
  text-decoration: none;
}

.row-block-paragraph .richtext-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.row-block-paragraph .richtext-image.full-width {
  margin: 2rem auto;
  width: 100%;
}

.row-block-paragraph .richtext-image.left {
  float: left;
  margin-right: 1.5rem;
}

.row-block-paragraph .richtext-image.right {
  float: right;
  margin-left: 1.5rem;
}

.back-button .arrow-right {
  transform: rotate(180deg);
}

.back-button span {
  text-decoration: none;
  color: black;
}

.back-button:hover button {
  background-color: #935bce;
}

.back-button:hover {
  text-decoration: none;
}

#DonationEmbed {
  border: 0;
  width: 100%;
  min-height: 960px;
}
