body {
  overflow: hidden;
  font-family: Poppins, sans-serif;
}

.flex-page-height {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

.container-narrow {
  max-width: 912px;
}

@media (max-width: 575.98px) {
  .container-narrow {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.row-white,
.row-cyan {
  padding-top: 75px;
  padding-bottom: 75px;
}

@media (max-width: 575.98px) {
  .row-white,
  .row-cyan {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.row-cyan {
  background-image: linear-gradient(-241deg, #caefed 0%, #edfaf9 50%, #e5f4f3 100%);
}

.row-light-purple {
  background-image: linear-gradient(-241deg, #ede9f5 0%, #f7f4fc 100%);
  padding-top: 60px;
  padding-bottom: 60px;
}

.bg-section--orange {
  background-color: #fff7f4;
}
.bg-section--purple {
  background-color: #F3F0FA;
}
.bg-section--green {
  background-color: #ECF9F8;
}

.bg-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 700;
}

.heading-primary {
  color: #935bce;
}

.heading-secondary {
  color: #ebb2a1;
}

.heading-italic {
  font-style: italic;
  font-family: 'Balsamiq Sans', cursive;
}

p, li {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 300;
}

p a,
p a:hover,
p a:active,
li a:not(.nav-link),
li a:not(.nav-link):hover,
li a:not(.nav-link):active {
  font-weight: 400;
  color: #935bce;
  text-decoration: underline;
}

p a:hover, li a:not(.nav-link):hover {
  text-decoration: none;
}

p b,
p strong,
li b,
li strong {
  font-weight: 700;
}

hr {
  border-top-width: 5px;
  border-top-color: #935bce;
}

hr.short {
  width: 115px;
  margin: 35px 0 25px 0;
  border-color: #ebb2a1;
}

time {
  display: block;
  font-weight: 300;
  font-size: 16px;
  font-style: italic;
  line-height: 1.2;
  color: #807b8b;
  margin-bottom: 0.85rem;
}

.main p {
  font-size: 24px;
  font-weight: 400;
}

.main-text {
  max-height: 160px;
}

@media (max-width: 575.98px) {
  .main-logo {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
}

.site-logo {
  height: 2rem;
}

.erasmus-plus-logo {
  height: 1.75rem;
}

@media (min-width: 768px) {
  .site-logo {
    height: 3rem;
  }

  .erasmus-plus-logo {
    height: 2.5rem;
  }
}

.text-title {
  font-size: 48px;
  line-height: 1;
}
@media (min-width: 768px) {
  .text-title {
    width: 70%;
  }
}

.text-title span:first-child {
  font-weight: 700;
  color: #935bce;
}

.text-title span:last-child {
  font-weight: 700;
  color: #4fc9c3;
}

.headline {
  font-size: 3rem;
  font-weight: 700;
}
.headline p {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 768px) {
  .headline p {
    text-align: left;
  }
}

.rich-text h2, .rich-text h3, .rich-text h4 {
  margin-bottom: 1rem;
}
.rich-text p {
  margin-bottom: 2rem;
}
.rich-text li {
	line-height: 42px;
}

/* ARROW ICON */
.arrow-right {
  background-image: url("../img/arrow-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 20px;
  min-height: 20px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.icon--flipped {
  transform: scaleX(-1);
}

.icon-arrow {
  width: 1.75em;
  height: 1.25em;
  margin-top: -0.25em;
  background-image: url("/static/icons/noun-arrow-2905805.svg");
}

/* CARDS */
.box {
  border: 2px solid #000;
}
.box span {
  padding-right: 20px;
  word-break: break-word;
}
.box a {
  margin-top: 0.5rem;
}

.box p {
  font-size: 1.25rem;
}

/* BUTTONS */
.btn {
  border-radius: 0;
  font-weight: 400;
  padding: 5px 15px;
  font-size: 14px;
}
@media (max-width: 575.98px) {
  .btn {
    font-size: 16px;
  }
}

.btn-lg {
  padding: 5px 15px;
}

.btn-outline-primary {
  color: black;
  border: 3px solid #935bce;
  background-color: #ebb2a1;
}

.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: white;
  border-color: #935bce;
  background-color: #935bce;
}

.btn-outline-primary:hover .arrow-right,
.btn-outline-primary:not(:disabled):not(.disabled):active .arrow-right {
  filter: invert(1);
}

.btn-outline-primary:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  /*box-shadow: 0 0 0 0.2rem #935bce;*/
  box-shadow: none;
}

/* NEWS LISTING */
.news-preview h1 {
  font-weight: 600;
  font-size: 27px;
  line-height: 1.2;
  font-style: normal;
  margin-bottom: 0;
  text-transform: none;
}

.news-preview time {
  font-size: 12px;
}

.news-preview p {
  font-size: 16px;
}
@media (max-width: 575.98px) {
  .news-preview p {
    font-size: 20px;
  }
}

.news-preview .btn {
  padding: 12px;
}

.news-preview .arrow-right {
  width: 15px;
  height: 13px;
}

/* PROJECT PARTNER CARDS */
.partner-card {
  height: 100%;
  background-color: white;
  padding: 15px;
}

.partner-card img {
  height: 70px;
  margin-bottom: 15px;
}

.partner-card h6 {
  color: #935bce;
}
@media (max-width: 575.98px) {
  .partner-card h6 {
    font-size: 20px;
  }
}

.partner-card p {
  font-size: 14px;
}
@media (max-width: 575.98px) {
  .partner-card p {
    font-size: 16px;
  }
}

.partner-card span {
  padding-right: 20px;
}
@media (max-width: 575.98px) {
  .partner-card span {
    font-size: 16px;
  }
}

.partner-card .arrow-right {
  width: 14px;
  height: 13px;
}

/* FOOTER */
footer .row-cyan {
  padding-top: 0;
  padding-bottom: 0;
}

footer a,
footer a:hover {
  color: #935BCE;
}

footer .white-card {
  height: 100%;
  margin: 0;
  padding: 30px 15px;
  background-color: white;
}

footer p {
  font-size: 14px;
}

footer .footer-disclaimer {
  font-size: 13px;
}

footer form label, .content__gdprLegal p {
  font-size: 12px;
}

@media (max-width: 575.98px) {
  footer form label,
  footer p {
    font-size: 16px;
  }
}

footer .form-control {
  border: 1px solid #935bce;
  border-radius: 0;
}

footer form .arrow-right {
  width: 14px;
  height: 13px;
}

footer .footer-logo {
  height: 75px;
  margin: 30px 0;
}

/* HEADER */
.header {
  z-index: 100;
  background-color: #ECF9F8;
  top: 0;
  border-bottom: 1px solid #212529;
}
.header .logo img {
  width: 6rem;
}
.header .nav-link {
  color: #212529;
  font-size: 1rem;
  line-height: 1rem;
  text-transform: uppercase;
}
.header .nav-link:hover {
  text-decoration: underline;
}
.header .navbar-toggler:focus {
  box-shadow: 0 0 0 0.125rem;
}
.header .navbar-toggler-icon {
  width: unset;
  height: unset;
}

/* PARAGRAPH BLOCKS */
.row-block-heading {
  padding-bottom: 20px;
}
.row-block-paragraph {
  padding-top: 0;
}

.row-block-paragraph h1,
.row-block-paragraph h2,
.row-block-paragraph h3,
.row-block-paragraph h4 {
  font-weight: 700;
  text-transform: none;
  text-align: left;
  margin-top: 60px;
  margin-bottom: 30px;
  line-height: 1.2;
}

.row-block-paragraph h2 {
  margin-top: 3.5rem;
  font-size: 28px;
}

.row-block-paragraph h3 {
  font-size: 24px;
}

.row-block-paragraph h4 {
  font-size: 20px;
}

.row-block-paragraph p,
.row-block-paragraph ul,
.row-block-paragraph ol,
.row-block-paragraph blockquote {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 2rem;
}

@media (max-width: 575.98px) {
  .row-block-paragraph p,
  .row-block-paragraph ul,
  .row-block-paragraph ol,
  .row-block-paragraph blockquote {
    font-size: 16px;
    line-height: 1.5;
  }
}

.row-block-paragraph blockquote {
  padding-left: 1.5em;
  border-left: 3px solid #935BCE;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.row-block-paragraph ul {
  list-style-type: disc;
}

.row-block-paragraph ol {
  list-style-type: decimal;
}

.row-block-paragraph ul ul,
.row-block-paragraph ol ol,
.row-block-paragraph ul ol,
.row-block-paragraph ol ul {
  margin-bottom: 0;
}

.row-block-paragraph b,
.row-block-paragraph strong {
  font-weight: 700;
}

.row-block-paragraph i,
.row-block-paragraph em {
  font-style: italic;
}

.row-block-paragraph a,
.row-block-paragraph a:hover,
.row-block-paragraph a:active {
  font-weight: 600;
  color: #935BCE;
  text-decoration: underline;
}

.row-block-paragraph a:hover {
  text-decoration: none;
}

.row-block-paragraph .richtext-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.row-block-paragraph .richtext-image.full-width {
  margin: 2rem auto;
  width: 100%;
}

.row-block-paragraph .richtext-image.left {
  float: left;
  margin-right: 1.5rem;
}

.row-block-paragraph .richtext-image.right {
  float: right;
  margin-left: 1.5rem;
}

.back-button .arrow-right {
  transform: rotate(180deg);
}

.back-button span {
  text-decoration: none;
  color: black;
}

.back-button:hover button {
  background-color: #935bce;
}

.back-button:hover {
  text-decoration: none;
}

#DonationEmbed {
  border: 0;
  width: 100%;
  min-height: 960px;
}

/* LESSON LIST */

.lesson-list-view footer {
	border-top: 2px solid #000000;
}

.lesson-list-view footer .footer-col-lang {
	text-align: center;
}

@media (min-width: 992px) {
	.lesson-list-view footer .footer-col-lang {
		text-align: end;
	}
}

.lesson-list-view footer .footer-col-lang .lang-title {
	font-weight: 700;
}

.lesson-list-view footer .footer-col-lang .lang-link {
	color: #252525;
	text-decoration: underline;
}

.lesson-list-view footer .footer-col-lang .lang-link:hover {
	text-decoration: none;
}

.lesson-list-view footer .footer-col-lang .lang-title, 
.lesson-list-view footer .footer-col-lang .lang-link {
	display: block;
}

@media (min-width: 992px) {
	.lesson-list-view footer .footer-col-lang .lang-link {
		margin-left: 10px;
	}

	.lesson-list-view footer .footer-col-lang .lang-title, 
	.lesson-list-view footer .footer-col-lang .lang-link {
		display: inline;
	}
}

@media (min-width: 992px) {
	.lesson-list-view .filters-half {
		height: 100%;
	}
}

.lesson-list-view .filters-half > div:first-child {
	flex: 1;
	background-color: #e8f6f6;
	/* padding: 32px 32px 32px 22px; */
	height: 100%;
}

@media (min-width: 768px) {
	.lesson-list-view .filters-half > div:first-child {
		/* padding: 96px 64px 0; */
	}
}

.lesson-list-view .filters-half .filters-half-header {
	position: relative;
}

.lesson-list-view .reset-filters-button {
  text-align: end;
}

.lesson-list-view .reset-filters-button a {
  color: #252525;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
}

.lesson-list-view .reset-filters-button a:hover {
  text-decoration: none;
}

.lesson-list-view .filters-half h1 {
	font-family: "Balsamiq Sans";
	font-size: 48px;
	font-weight: 700;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 0;
}

/* .lesson-list-view .filters-half span {
	position: absolute
} */

.lesson-list-view .filters-half .filters {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	margin: 30px 0;
}

@media (min-width: 992px) {
	.lesson-list-view .filters-half .filters {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1600px) {
	.lesson-list-view .filters-half .filters {
		gap: 30px;
	}
}

@media (min-width: 1602px) {
	.lesson-list-view .filters-half .filters {
		gap: 50px;
    grid-template-columns: repeat(4, 1fr);
	}

}

.lesson-list-view .filters-half .filters .topic-button {
	position: relative;
	aspect-ratio: 1 / 1;
}

.lesson-list-view .filters-half .filters .topic-button input {
	position: absolute;
	visibility: hidden;
	pointer-events: none;
}

.lesson-list-view .filters-half .filters .topic-button label {
	width: 100%;
	height: 100%;
	padding: 10px;
	border: 4px solid #8b5fc7;
	background-color: #ffffff;
	color: #252525;
	font-family: "Balsamiq Sans";
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0;
	cursor: pointer;
}

.lesson-list-view .filters-half .filters .topic-button label:hover {
	background-color: #dccdeb;
}

.lesson-list-view .filters-half .filters .topic-button input:checked + label {
	background-color: #c7a9e5;
}

.lesson-list-view .list-half {
	flex: 1;
	display: flex;
	flex-direction: column;
}

@media (min-width: 768px) {
	.lesson-list-view .list-half {
		overflow-y: auto;
	}
}
.lesson-list-view .list-half h2 {
	margin: 40px 0;
	background-color: initial;
	font-family: Poppins;
	font-size: 30px;
	font-weight: 400;
	color: #252525;
}

.lesson-list-view .list-half .filters {
	margin-bottom: 24px;
}

.lesson-list-view .list-half .list {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.lesson-list-view .list-half .list .lesson-list {
	padding: 0;
	list-style: none;
}

.lesson-list-view .list-half .list .lesson-list li {
	border-bottom: 1px solid #252525;
}

.lesson-list-view .list-half .list .lesson-list li:first-child {
	border-top: 1px solid #252525;
}

.lesson-list-view .list-half .list .lesson-list li .lesson-link {
	display: block;
	padding: 20px 60px 20px 0;
	position: relative;
	text-decoration: none;
}

.lesson-list-view .list-half .list .lesson-list li .lesson-link:hover {
	background-color: #f1f2f2;
}

.lesson-list-view .list-half .list .lesson-list li .lesson-link h3 {
	color: #252525;
	font-family: Poppins;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 0;
}

.lesson-list-view .list-half .list .lesson-list li .lesson-link .icon {
	position: absolute;
	top: 50%;
	right: 16px;
	transform: translateY(-20%);
}

.lesson-list-view .pagination .page-item {
	font-size: 16px;
}

.lesson-list-view .pagination .page-item.active .page-link {
	background-color: initial;
	font-weight: 700;
}

.lesson-list-view .pagination .page-item .page-link {
	border: none;
	text-decoration: none;
	color: #252525;
}

/* SINGLE LESSON */

.back-nav button {
	color: #252525;
	font-size: 14px;
	font-weight: 400;
	line-height: 60px;
  background-color: transparent;
  border: none;
}

.back-nav button i {
	margin-right: 10px;
}

.lesson h1 {
	font-family: "Balsamiq Sans";
	font-size: 46px;
	font-weight: 700;
	line-height: 60px;
	margin-bottom: 60px;
}

@media (max-width: 575.98px) {
	.lesson h1 {
		font-size: 24px;
		line-height: 40px;
		margin-bottom: 30px;
	}
}

.lesson .lesson__content {
	border: 2px solid #000000;
	padding: 40px;
}

@media (max-width: 575.98px) {
	.lesson .lesson__content {
		padding: 20px;
	}
}

@media (max-width: 575.98px) {
	.lesson, .lesson__activity-section .rich-text h2,
	.lesson .lesson__description .rich-text h2 {
		font-size: 24px;
	}

	.lesson, .lesson__activity-section .rich-text h3,
	.lesson .lesson__description .rich-text h3 {
		font-size: 20px;
	}

	.lesson, .lesson__activity-section .rich-text h4,
	.lesson .lesson__description .rich-text h4 {
		font-size: 16px;
	}

	.lesson, .lesson__activity-section .rich-text h2:not(:first-child),
	.lesson, .lesson__activity-section .rich-text h3:not(:first-child),
	.lesson, .lesson__activity-section .rich-text h4:not(:first-child),
	.lesson .lesson__description .rich-text h2:not(:first-child),
	.lesson .lesson__description .rich-text h3:not(:first-child),
	.lesson .lesson__description .rich-text h4:not(:first-child) {
		margin-top: 32px;
	}

	.lesson, .lesson__activity-section .rich-text p,
	.lesson, .lesson__activity-section .rich-text li,
	.lesson .lesson__description .rich-text p, 
	.lesson .lesson__description .rich-text li {
		font-size: 16px;
		margin-bottom: 16px;
		line-height: unset;
	}
}

.lesson .lesson__description hr {
	border-top-width: 2px;
	border-style: dotted;
	border-color: #252525;
}

.lesson .lesson__activity-section button {
	display: flex;
	align-items: center;
	background-color: initial;
	border: none;
	color: #000000;
	font-family: "Balsamiq Sans";
	font-size: 20px;
	padding: 0;
}

.lesson .lesson__activity-section button span:not(.icon) {
	text-decoration: underline;
}

.lesson .lesson__activity-section span.eyecon-open {
	display: none;
	width: 40px;
	height: 29px;
	background-image: url("/static/icons/eye-open.svg");
	background-position: center; 
	margin-right: 15px;
}
.lesson .lesson__activity-section span.eyecon-close {
	display: block;
	width: 40px;
	height: 29px;
	background-image: url("/static/icons/eye-closed.svg");
	background-position: center; 
	margin-right: 15px;
}

.lesson .lesson__activity-section button.collapsed span.eyecon-open {
	display: block;
}

.lesson .lesson__activity-section button.collapsed span.eyecon-close {
	display: none;
}

.lesson .lesson__activities-section .lesson__activity-section {
	border-top: none;
	background-color: #e8f6f6;
}

@media (max-width: 575.98px) {
	.lesson .lesson__content .lesson__activities-section .lesson__activity-section {
		padding-left: 1.5rem;
	}
}

.lesson .lesson__activities-section .lesson__activity-section .activity {
	margin-top: 20px;
}

.lesson .lesson__activities-section .lesson__activity-section .activity__title {
	font-size: 20px;
	font-weight: 700;
}

@media (max-width: 575.98px) {
	.lesson .lesson__activities-section .lesson__activity-section .activity__title {
		display: block;
		margin-top: 10px;
	}
}
 